@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
body{
    height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.container{
    width: 400px;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container h3{
    margin-bottom: 20px;
    color: blue;
}
span{
    font-size: 50px;
    font-weight: bold;
}
.btnGroup{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
button{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    color: black;
    cursor: pointer;
}
button:hover{
    background-color: blue;
}
